
/* width */
::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  right: 0
}

/* Track */
::-webkit-scrollbar-track {
  background: #871c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}